<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h3>Links</h3>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/produk/1/category/shoes">Produk</a></li>
    </ul>

    <h1>halo <%= nama %></h1>
    <h3>Data Mahasiswa</h3>
    <ul>
      <% if(mhs.length == 0){ %>
      <h2>Data mahasiswa masih kosong</h2>
      <% } else { } %> %> <% mhs.forEach(data => { %>
      <li>nama: <%= data.nama %></li>
      <li>email: <%= data.email %></li>
      <br />
      <% }) %> %>
    </ul>
  </body>
</html>
